@media all and (min-width: 1200px){
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {width: 1170px;}

#menuMobile {display: none;}
.mobileNavBar {display: none;}
}
/*******************1100 RESPONSIVE STYLE*******************************/
@media all and (max-width: 1199px) and (min-width:1100px) {
	
.container {width:960px;margin-left:auto;margin-right:auto;}
#menuMobile {display: none;}
.mobileNavBar {display: none;}



/*****************Start Homepage 1100 Responsive Style******************************/

.headNav {
	padding-left: 16px;
	font-size: 16px;
}
.headNav {
	padding-left: 16px;
	padding-right: 16px;
	font-size: 16px;
	padding-top: 50px;
}

.featuredRight {width: 340px;}
.featuredLeft {width: 600px;}
.newsRight {
	width: 617px;
	padding-right: 0px;
}
.newsLeft {width: 320px;}

.flexslider:hover .flex-next {left: 485px;}

.flexslider:hover .flex-prev {left: 400px;}

/****************End Homepage 1100 Responsive Style*********************************/
/****************Start Portfolio 1100 Responsive Style**********************/

.portfolioRight {padding-right: 0px;}
.portfolioLeft {width: 600px;}

/****************End Portfolio 1100 Responsive Style**********************/
	
}/*end of media query*/


/*******************980 RESPONSIVE STYLE*******************************/
@media all and (max-width: 1099px) and (min-width:980px) {
.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {width: 940px;}

body {padding-top: 100px;}

.headNav {
	padding-left: 18px;
	padding-right: 18px;
	font-size: 16px;
	padding-top: 50px;
}
#menuMobile {display: none;}
.mobileNavBar {display: none;}

/*****************Start Homepage 980 Responsive Style******************************/
.aboutHomeIcons {
	padding-left: 55px;
}

.featuredLeft {	
	float: left;
	width: 572px;
}

.featuredRight {
	width: 285px;
	float: right;
}

.featuredTitle {
	font-size: 35px;
	font-weight: bold;
	padding-bottom: 20px;
	line-height: 30px;
}

.topHomeTitle {
	margin-left: -25px;
}


/****************End Homepage 980 Responsive Style*********************************/

/****************Start Portfolio 980 Responsive Style**********************/
.portfolioRight {padding-right: 0px;}
.portfolioLeft {width: 585px;}

/****************End Portfolio 980 Responsive Style**********************/

/****************Start News 980 Responsive Style**********************/
.newsRight {
	width: 635px;
	padding-right: 0px;
}

.newsLeft {width: 300px;}

/****************End News 980 Responsive Style**********************/

	
}/*end of media query*/
/************************START OF 780 RESPONSIVE STYLE*********************************/

@media all and (max-width: 979px) and (min-width:780px) {
	.container {width:750px;margin-left:auto;margin-right:auto;}
	
body {padding-top: 100px;}

#menuMobile {display: none;}
.mobileNavBar {display: none;}

/*****************Start Header 780 Responsive Style******************************/
.resdev-navbar-inner {
	height: 100px;
	border: 0px solid #d4d4d4;
	border-bottom:1px solid #d4d4d4;
}

.headNav {
	padding-right: 9px;
	padding-left:9px;
	font-size: 14px;
}

.resdev-nav {
	float: left;
}


/****************End Header 780 Responsive Style*********************************/

/************** Start of Footer 780 Responsive Style *************************/

.footerNav {
	padding-left: 200px;
	margin-top: -160px;
}
/************** End of Footer 780 Responsive Style *************************/

/*****************Start Homepage 780 Responsive Style******************************/

.featuredLeft {	
	float: left;
	width: 430px;
}

.featuredRight {
	width: 285px;
	float: right;
}

.featuredTitle {
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 20px;
	line-height: 30px;
}

.topHomeTitle {
margin-left: -135px;
}

.aboutHomeIcons {
	padding-left: 38px;
}

.middleHomeText {
	margin-left: 10px;
	width: 200px;
}

.btn-homeInfo {margin-left: -10px;}

/****************End Homepage 780 Responsive Style*********************************/
/****************Start News 780 Responsive Style**********************/
.newsRight {
	width: 530px;
	padding-right: 0px;
}
.newsLeft {width: 200px;}

/****************End News 780 Responsive Style**********************/

/****************Start Portfolio 780 Responsive Style**********************/
.portfolioRight {padding-right: 0px;}
.portfolioLeft {width: 400px;}
.portfolioTags {display:none;}
.portfolioTitle {padding-bottom:10px;}
/****************End Portfolio 780 Responsive Style**********************/

/****************Start Contact 780 Responsive Style**********************/
.team_list {display:none;}
.contactTeamTitle {display:none;}
.middleContactInfo {margin-left: 10px;}
.middleContactInfo p {width: 730px;}
.middleTopContactHR {width: 710px;}
.middleBottomContactHR {width: 710px;}
/****************End Contact 780 Responsive Style**********************/

}/*end of media query*/

/************************END OF 780 RESPONSIVE STYLE********************************/


/************************START OF 490 RESPONSIVE STYLE********************************/

@media all and (max-width:779px) and (min-width:490px) {
	.container {width:470px;margin-left:auto;margin-right:auto;}
	.resdev-nav {display:none;}
	.footerNav {display:none;}
	.copyRight {margin-left: -10px;}
	.footerLogo {margin-left: -10px;}
	.contactUs{width: 150px;}
	.footer {
		margin-left:270px;
		margin-top: -150px;
}
.mobileNavBar {display:block;}

#menuMobile {
	width:50px;
	height:50px;
}

#navMobile.js {
	display: none;
}
.menuLogo {
	margin-right: -248px;
	margin-top: -50px;
}
.mobileNavLi{border:1px solid #005580;}
.mobileNavLi:hover {
	color:#3fa4dc;
}
#navMobile li {
	background: #ffffff;
	list-style-type: none;
	width: 11%;
	padding-left: 20px;
	margin-left: 275px;
	padding-top: 12px;
	padding-bottom:5px;
	font-weight: bold;
}
#navMobile a {
	text-decoration:none;
}
/***********************START 490 home page responsive*************************/
.topHome {height: 365px;}
.topHomeTitle {
	line-height: 35px;
	width: 392px;
	font-size: 36px;
	text-align: center;
	margin-top: 65px;
	margin-bottom: -66px;
	margin-left: -55px;
}
.btn-homeInfo{margin-left: -65px;}
.middleHome {height: 345px;}
.aboutHomeIcons {padding-left: 20px;}
.homeIconsImage{
	height: 65px;
	max-width: 100%;
	margin-left: -10px;
}

.middleHomeTitle {
	padding-top: 30px;
	font-size: 17px;
}

.featuredRight {
	width:360px;
	float:left;
}

.featuredLeft {
	float:left;
	width:470px;
}

.featuredTitle {
	font-size:30px;
	line-height:30px;
}
.featuredHome {
	padding-top: 30px;
	min-height: 614px;
}

.aboutHomeTitle {padding-bottom: 10px;}
.topHomeLearnMore {margin-left: 0px;
}
/*******************End of 490 home page responsive***********************/

/****************Start News 490 Responsive Style**********************/
.newsRight {
	width: 420px;
	padding-right: 0px;
	float:left;
}
.newsLeft {width: 300px;}

/****************End News 490 Responsive Style**********************/

/****************Start Portfolio 490 Responsive Style**********************/

.portfolioRight {
	float: left;
	padding-top: 10px;
	padding-left: 15%;
}

.portfolioLeft {
	width: 370px;
	min-height: 0px;
	padding-left: 15%;
}

/****************End Portfolio 490 Responsive Style**********************/


}/*end of media query*/

/************************END OF 490 RESPONSIVE STYLE********************************/


/***********************START OF MOBILE RESPONSIVE STYLE****************************/

@media all and (max-width:489px) and (min-width:0px) {
.margin {margin-left:0;margin-right:0;}
.container {width:90%;margin-left:auto;margin-right:auto;min-width:200px; max-width:380px;}

.headerLogo {width:75%;}
.resdev-nav {display:none;}
.footerNav {display:none;}
.copyRight {margin-left: -20px;}
.footerLogo {margin-left: -20px;}
.contactUs{width: 150px;}
.footer {
	margin-left:160px;
	margin-top: -150px;
	margin-right: -20px;
}
.mobileNavBar {display:block;}
#menuMobile {
	width:50px;
	height:50px;
	}
#navMobile ul{padding-top:20px}
#navMobile.js {
	display: none;
}
.menuLogo {
	margin-top: 0px;
}
#navMobile li {
	border: 1px solid;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	background: #ffffff;
	list-style-type: none;
	width: 22%;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 2px;
	font-weight: bold;
	margin-left: 20px;
}
#navMobile a {
	text-decoration:none;
}

/*****************Start Homepage Mobile Responsive Style******************************/

.featuredHome {display:none;}
.topHome {
	height: 365px;
}
.topHomeTitle {
	line-height: 35px;
	width: 338px;
	font-size: 31px;
	text-align: center;
	margin-top: 65px;
	margin-bottom: -66px;
	margin-left: -70px;
}
.aboutHome {padding-top:0px;}
.aboutHome p {width:340px;}
.btn-homeInfo{margin-left: -65px;}
.middleHome {height: 345px;}
.aboutHomeIcons {display:none;}
.aboutHomeIconsText {display:none;}
.homeIconsImage{
	height: 65px;
	max-width: 100%;
	margin-left: -10px;
}
.navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 400px;
}
.middleHomeTitle {
	padding-top: 30px;
	font-size: 17px;
}
/*****************End Homepage Mobile Responsive Style******************************/

/****************Start News Mobile Responsive Style**********************/
.newsRight {
	width: 380px;
	margin-left:-25px;
	padding-right: 0px;
	float:left;
}
.newsLeft {width: 200px;}

/****************End News Mobile Responsive Style**********************/

/****************Start Portfolio Mobile Responsive Style**********************/

.portfolioRight {
	padding-right: 20px;
	padding-bottom: 20px;
}
.portfolioLeft {
	width: 360px;
	min-height: 0px;
}
.portfolioTags {display:none;}


/****************End Portfolio Mobile Responsive Style**********************/

/****************Start Contact Mobile Responsive Style**********************/
.team_list {display:none;}
.contactTeamTitle {display:none;}
.middleContactForm {
	padding-top: 30px;
	padding-left: 9px;
	width: 300px;
}
.middleContactInfo {
	margin-left: 0px;
}
.middleContactInfo p {
	width: 330px;
}

.middleTopContactHR {
	width: 335px;
}

.middleBottomContactHR {
	width: 335px;
}
/****************End Contact Mobile Responsive Style**********************/

}/*end of media query*/

/**********************END OF MOBILE RESPONSIVE STYLE********************************/
