<div class="navbar resdev-navbar-inverse navbar-fixed-top">
  <div class="resdev-navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".na\
v-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="site_title brand" href="{{ site.baseurl }}/"><img class="headerLogo" src="{{ site.baseurl}}/img/header-logo.png"></a>
	  <div class="nav-collapse collapse resdev-nav">
		<ul class='resdev-nav nav'>
			{% for link in site.navigation %}
			<li {% if page.active == link.url %}class="active headNav"{% else %}class="headNav"{% endif %}>
			    <a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a>
			</li>
			{% endfor %}
		</ul>
      </div>
	<div class="mobileNavBar">
		<ul id="navMobile">
			{% for link in site.navigation %}
			<a href="{{link.url}}" title="{{link.title}}"><li class="mobileNavLi">{{link.title}}</li></a>
			{% endfor %}
		</ul>
	</div>
    </div>
  </div>
</div>
