{% include header.html %}
{% include navigation.html %}
</div>
<div class="topHome">
	<div class="container">
	<div class="row-fluid">
  		<div class="span12">
			<div class="offset2 span3">
				<div class="topHomeTitle">We cultivate ideas and</div>
				<div class="topHomeTitle">create fully tailored solutions.</div>
				<div class="offset12 span1">
					<div class="topHomeLearnMore">
						<a href="{{ page.learnmore }}"><button class="btn-homeInfo btn btn-large">LEARN MORE</button></a>
  					</div>
				</div>
			</div>
		</div>
		<div class="span12 topHomeIcons">
			<div class="offset1 span4">
				<img src="{{ site.baseurl}}/img/tile-four.png">
			</div>
			<div class="span4">
				<img src="{{ site.baseurl}}/img/tile-two.png">
			</div>
			<div class="span2">
				<img src="{{ site.baseurl}}/img/tile-one.png">
			</div>
		</div>
	</div>
	</div>
</div>
<div class="middleHome">
	<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<div class="span4">
				<h3 class="middleHomeTitle">TITLE ONE</h3>
				<div class="offset1 span10">
					<p class="middleHomeText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mauris eros, condimentum et lobortis nec, mollis ac erat. Curabitur quis.</p>
				</div>
			</div>
			<div class="span4">
				<h3 class="middleHomeTitle">TITLE TWO</h3>
				<div class="offset1 span10">
					<p class="middleHomeText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mauris eros, condimentum et lobortis nec, mollis ac erat. Curabitur quis.</p>
				</div>
			</div>
			<div class="span4">
				<h3 class="middleHomeTitle">TITLE THREE</h3>
				<div class="offset1 span10">
					<p class="middleHomeText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mauris eros, condimentum et lobortis nec, mollis ac erat. Curabitur quis.</p>
				</div>				
			</div>
		</div>	
	</div>	
	</div>
</div>
<div class="featuredHome">
	<div class="container">
		<div class="row-fluid">
			<h3 class="aboutHomeTitle">FEATURED WORK</h3>
			{% include featured.html %}
		</div>
	</div>
</div>
<div class="aboutHome">
	<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<div class="span8">
				<h4 class="aboutHomeTitle">ABOUT US</h4>
				<p class="aboutHomeText">Resonance Development provides full-service web development in Charlottetown, Prince Edward Island, Canada.</p>
				<p class="aboutHomeText">Our clients range from small businesses to corporations and NGOs, in Canada, United States, and South Africa. See our Featured Work section for a showcase of some of our work.</p>
				<p class="aboutHomeText">Drupal is the focus at Resonance Development, and our team collectively brings over a decade of Drupal development experience to each and every project.</p>
				<p class="aboutHomeText">We are more than web designers: we bring development rigor to each project through our knowledge of all web technologies applicable to first-class Drupal development.</p>
			</div>
			<div class="span2">
				<img class="aboutHomeIcons" src="{{ site.baseurl}}/img/service-one.png">
				<h5 class="aboutHomeIconsText">There is five words here</h5>
				<img class="aboutHomeIcons" src="{{ site.baseurl}}/img/service-four.png">
				<h5 class="aboutHomeIconsText">Also five words right here</h5>
				<img class="aboutHomeIcons" src="{{ site.baseurl}}/img/service-five.png">
				<h5 class="aboutHomeIconsText">Unexplainably three words</h5>
			</div>
			<div class="span2">
				<img class="aboutHomeIcons" src="{{ site.baseurl}}/img/service-two.png">
				<h5 class="aboutHomeIconsText">There's Four words here</h5>
				<img class="aboutHomeIcons" src="{{ site.baseurl}}/img/service-three.png">
				<h5 class="aboutHomeIconsText">And back to five words</h5>
				<img class="aboutHomeIcons" src="{{ site.baseurl}}/img/service-six.png">
				<h5 class="aboutHomeIconsText">Repeat of five words here</h5>
			</div>
		</div>	
	</div>	
	</div>
</div>			
{% include footer.html %}